In [7]:
import pandas as pd
df = pd.read_csv("healthcare_dataset.csv")
print(df.head())
print(df.info())

            Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn   30    Male         B-            Cancer        2024-01-31
1   LesLie TErRy   62    Male         A+           Obesity        2019-08-20
2    DaNnY sMitH   76  Female         A-           Obesity        2022-09-22
3   andrEw waTtS   28  Female         O+          Diabetes        2020-11-18
4  adrIENNE bEll   43  Female        AB+            Cancer        2022-09-19

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
1   Samantha Davies                     Kim Inc           Medicare
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna

   Billing Amount  Room Number Admission Type Discharge Date   Medication  \
0    18856.281306          328         Urgent     2024-02-02  Paracetamol
1    33643.327287          265      Emergency     2019-08-26    Ibuprofen
2    27955.096079          205      Emergency     2022-10-07      Aspirin
3    37909.782410          450       Elective     2020-12-18    Ibuprofen
4    14238.317814          458         Urgent     2022-10-09   Penicillin

   Test Results
0        Normal
1  Inconclusive
2        Normal
3      Abnormal
4      Abnormal
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB
None

In [8]:
import re
def clean_text(text):
    if isinstance(text, str):
        text = text.lower()                     # lowercase
        text = re.sub(r'[^a-z0-9\s]', '', text) # remove punctuation
        text = re.sub(r'\s+', ' ', text).strip() # remove extra spaces
        return text
    return text
text_cols = ["Name", "Medical Condition", "Doctor", "Hospital"]
for col in text_cols:
    df[col + "_clean"] = df[col].apply(clean_text)
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Name_clean,Medical Condition_clean,Doctor_clean,Hospital_clean
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,bobby jackson,cancer,matthew smith,sons and miller
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,leslie terry,obesity,samantha davies,kim inc
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,danny smith,obesity,tiffany mitchell,cook plc
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,andrew watts,diabetes,kevin wells,hernandez rogers and vang
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,adrienne bell,cancer,kathleen hanna,whitewhite

In [3]:
condition_counts = df["Medical Condition_clean"].value_counts()
print(condition_counts)

Medical Condition_clean
arthritis       9308
diabetes        9304
hypertension    9245
obesity         9231
cancer          9227
asthma          9185
Name: count, dtype: int64

In [4]:
df["hospital_word_count"] = df["Hospital_clean"].apply(lambda x: len(x.split()))
df[["Hospital", "hospital_word_count"]].head()

                     Hospital  hospital_word_count
0             Sons and Miller                    3
1                     Kim Inc                    2
2                    Cook PLC                    2
3  Hernandez Rogers and Vang,                    4
4                 White-White                    1

In [5]:
print(df["Doctor_clean"].value_counts().head(10))

Doctor_clean
michael smith       27
john smith          22
robert smith        22
james smith         20
michael johnson     20
david smith         19
robert johnson      19
michael williams    18
john johnson        17
matthew smith       17
Name: count, dtype: int64